@model IEnumerable<MyShop.Models.ProductModel>

@{
    ViewData["Title"] = "Produktai";
}

<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    .dropdown__link {
        z-index: 1;
        color: black;
        text-decoration: none;
        position: absolute;
        display: block;
        width: 20%;
        height: 100%;
        border: 1px solid #d1cbba;
        border-bottom: none;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 87px;
        transform: translateY(-100%) scale(0);
        opacity: 0;
        transition: transform .3s ease, opacity .3s ease;
        background: white;
    }

        .dropdown__link:hover {
            background: #f5f3f0;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

    .dropdown:hover .dropdown__link {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    .dropdown__link--1 {
        bottom: -100%;
    }

    .dropdown__link--2 {
        bottom: -200%;
        transition-delay: .1s;
    }

    .dropdown__link--3 {
        bottom: -300%;
        transition-delay: .2s;
    }

    .dropdown__link--4 {
        bottom: -400%;
        border-bottom: 1px solid black;
        transition-delay: .3s;
    }
</style>
<h1 class="text-center" style=" font-family: 'PT Serif', serif; ">@ViewBag.CategoryName</h1>
<br />
@if (ViewBag.searchStr != "incorrect")
{
    <div class="container">
        <div class="row">
            @*<div class="col" style="margin-left:85px;margin-right:85px">
                    <hr />
                    <h4>@await Component.InvokeAsync("CategDescr", ViewBag.CategoryName)</h4>
                    <hr />
                </div>*@
        </div>
        <div class="dropdown" style="padding-left:85px">
            <div class="row">
                <div class="text-center rounded" style="width:220px;height:33px;background:white;margin-left:15px;padding-top:4px;border:1px solid;border-color:#d1cbba">
                    <span class="dropdown__name">
                        @if (ViewBag.SortFieldText == "Rikiuoti pagal")
                        {
                            @ViewBag.SortFieldText <i class="fa fa-caret-down" aria-hidden="true"></i>
                        }
                        else
                        {
                            @ViewBag.SortFieldText
                        }
                    </span>
                </div>
                <div class="dropdown__content rounded">
                    @Html.ActionLink("Pavadinimą (A-Z)", "CategoryProducts", "StoreProduct",
                    new { id = Model.ElementAt(0).CategoryID, sort = 1 }, new { @class = "dropdown__link dropdown__link--1 rounded" })
                    @Html.ActionLink("Pavadinimą (Z-A)", "CategoryProducts", "StoreProduct",
                    new { id = Model.ElementAt(0).CategoryID, sort = 2 }, new { @class = "dropdown__link dropdown__link--2 rounded" })
                    @Html.ActionLink("Kainą (brangiausi viršuje)", "CategoryProducts", "StoreProduct",
                    new { id = Model.ElementAt(0).CategoryID, sort = 3 }, new { @class = "dropdown__link dropdown__link--3 rounded" })
                    @Html.ActionLink("Kainą (pigiausi viršuje)", "CategoryProducts", "StoreProduct",
                    new { id = Model.ElementAt(0).CategoryID, sort = 4 }, new { @class = "dropdown__link dropdown__link--4 rounded" })
                </div>
            </div>
        </div>
        <div class="row no-gutters" style="padding-left:60px">
            @foreach (var item in Model)
            {
                <div class="card-deck ml-2" style="margin-top:20px">
                    <div class="col md-6 card text-center" style="width: 18rem;">
                        <img class="card-img-top" src=@item.PictureLink alt="Card image cap">
                        <div class="card-body align-items-sm-center">
                            <h6 class="text-danger" style=" font-family: 'PT Serif', serif;"><strong>Naujiena !</strong></h6>
                            <h5 class="card-title" style=" font-family: 'PT Serif', serif;">Laikrodis "@item.Title"</h5>
                            <h5 style="padding-bottom: 5px; font-family: 'PT Serif', serif;">@string.Format("{0:0.00}", item.Price) €</h5>
                            <a asp-action="Product" asp-controller="StoreProduct" asp-route-id="@item.ID" class="btn btn-outline-dark align-content-center">Detaliau</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h2 class="text-center">Ups ! Tokio produktas nerastas !</h2>
}
<br />
<br />
<br />
<script>
    $(document.body).on('click', '.dropdown-menu a', function (e) {
        alert($(this).text());
    });
</script>