@model IEnumerable<MyShop.Models.CategoryModel>

@{
    ViewData["Title"] = "Kategorijos";
}

<h1>Kategorijos</h1>
<br />

<p>
    <a class="btn btn-success" asp-action="Create">Sukurti naują</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Redaguoti</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Ištrinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
