@model MyShop.Models.ProductModel

@{
    ViewData["Title"] = "Ištrinti";
}

<h3>Ar tikrai norite ištrinti ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PictureLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PictureLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MostWanted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MostWanted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Ištrinti" class="btn btn-danger" />
        <a class="btn btn-outline-info" asp-action="Index">Grįžti į sąrašą</a>
    </form>
</div>
