@model IEnumerable<MyShop.ViewModels.CartViewModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@if (Model.Count() == 0)
{
    <h2 class="text-center">Prekių krepšelis tuščias</h2>
}
else
{
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th class="text-right" style="width:40%;padding-right:49px">Produktas</th>
                    <th style="width:11%;padding-left:24px">Kaina (vnt.)</th>
                    <th style="width:8%" class="text-right">Kiekis</th>
                    <th style="width:22%;" class="text-center">Tarpinė suma</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <form asp-action="RemoveItem" asp-route-id="@item.ItemName">
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="@item.pictureLink" alt="..." style="height:150px; width:150px;object-fit:cover" class="img-responsive" /></div>
                                    <div class="col-sm-10">
                                        <span class="nomargin text-right" style="margin-bottom:100px; margin-left: 257px; font-size:16px;">@item.ItemName</span>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price" class="text-center">@string.Format("{0:0.00}", item.ItemPrice) €</td>
                            <td data-th="Quantity" class="text-center" style="padding-left:30px">@item.ItemCount</td>
                            <td data-th="Subtotal" class="text-center">@string.Format("{0:0.00}", item.ItemTotalPrice) €</td>
                            <td class="actions" data-th="">
                                <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </form>
                }
            </tbody>
        </table>
    </div>
    <div class="container">
        <table id="cart" class="table table-hover table-condensed" style="border-bottom:none">
            <tfoot>
                <tr>
                    <td><a href="@Url.Action("Index","Home")" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tęsti apsipirkimą</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td style="width:8%;"></td>
                    <th style="width:26%;vertical-align:middle" class="hidden-xs text-center"><strong>Iš viso:</strong> @string.Format("{0:0.00}", ViewBag.Total) €</th>
                    <th style="width:10%"></th>
                </tr>
                <tr>
                    <td><strong>Pristatymo adresas:</strong> @UserManager.GetUserAsync(User).Result.Address</td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td></td>
                    <td><a class="btn btn-success btn-block" asp-controller="Checkout" asp-action="CheckoutFinal">Apmokėti <i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
}
<br />
<br />
<br />
<br />
