@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MyShop.ViewModels.HistoryViewModel

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

    .header1 {
        background-color: #c7f2d2;
        border: 2px solid black;
    }

    .header2 {
        background-color: #d6c7d5;
        border: 2px solid black;
    }

    .data {
        border: 1px solid black;
    }
</style>

@if (Model.Order.Count == 0)
{
    <h1 class="text-center">Jūs dar neturite pirkinių istorijos</h1>
}
else
{
    <br />
    <h2>Visų naudotojų užsakymų istorija</h2>
    <br />
    <table>
        @foreach (var item in Model.Order)
        {
            <tr class="header1">
                <th>
                    Užsakymo numeris
                </th>
                <th>
                    Užsakymo galutinė suma
                </th>
                <th>
                    Užsakovo el. paštas
                </th>
                <th>
                    Užsakymo data
                </th>
                <th>
                    Užsakymo būsena
                </th>
                <th>
                    Pristatymo adresas
                </th>
                <th></th>
            </tr>
            <tr class="data">
                <td>
                    @item.OrderID
                </td>
                <td>
                    @item.OrderTotalPrice €
                </td>
                <td>
                    @item.UserID
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    <a asp-controller="Role" asp-action="Edit" asp-route-id="@item.OrderID"><i class="fa fa-pencil-square-o"></i></a>
                </td>
            </tr>
            <tr class="header2">
                <th>
                    Prekės vardas
                </th>
                <th>
                    Prekės kaina
                </th>
                <th style="border-right:2px solid black">
                    Užsakytas kiekis
                </th>
            </tr>
            @for (int i = 0; i < Model.Details.Count(); i++)
            {
                @if (Model.Details.ElementAt(i).OrderID.Equals(item.OrderID))
                {
                    <tr class="data">
                        <td>
                            Laikr. @Model.Details.ElementAt(i).ItemName
                        </td>
                        <td>
                            @Model.Details.ElementAt(i).ItemPrice €
                        </td>
                        <td style="border-right:1px solid black">
                            @Model.Details.ElementAt(i).ItemCount
                        </td>
                    </tr>
                }
            }
            <tr>
                <td style="height:50px;border:none">
                </td>
            </tr>
        }
    </table>
}
<br />
<br />
<br />